# Node modules
node_modules/
 
# SvelteKit
.svelte-kit/
build/
 
# Vercel
.vercel/
 
# Umgebungsvariablen und geheime Schlüssel
.env
.env.local
.env.development
.env.production
.env.*
 
# .env.example soll aber in Git gespeichert werden
!.env.example
 
# Logs
*.log
npm-debug.log*
 
# Betriebssystem-Dateien
.DS_Store
Thumbs.db